<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

		<link rel="shortcut icon" href="https://assets.bitscoop.com/1457056861/images/icons/favicon.ico" />
		<link rel="icon" type="image/png" href="https://assets.bitscoop.com/1457056861/images/icons/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="https://assets.bitscoop.com/1457056861/images/icons/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="https://assets.bitscoop.com/1457056861/images/icons/favicon-16x16.png" sizes="16x16" />

		<title>Alexa Ops Buddy &middot; powered by BitScoop</title>

		<meta name="description" content="Ops Buddy Demo" />

		<!-- RequireJS configuration -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

		<script type="text/javascript" src="https://s3.amazonaws.com/alexa-2-demo/static/js/site.min.js" ></script>

		<!-- External fonts -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:400|Roboto:300,400,700|Open+Sans:200,300,400,700|Source+Sans+Pro:300,400,700" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

		<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/***INSERT S3 BUCKET NAME HERE***/css/site.min.css" />

		<script type="text/javascript">
			'use strict';

			$(document).ready(function() {
				$(document).on('change', 'input[type="checkbox"]', function(e) {
					e.preventDefault();

					let $this = $(this);

					let $form = $this.closest('form');
					let service = $form.data('service');
					let name = $this.attr('name');

					let data = {
						[name]: $this.get(0).checked
					};

					$.ajax({
						url: $form.attr('action'),
						method: $form.attr('method'),
						'content-type': 'application/json',
						dataType: 'text',
						data: JSON.stringify(data)
					}).done(function(data, xhr, response) {
						$('i.success-icon[data-for="' + service + '"]').addClass('shown');

						setTimeout(function() {
							$('i.success-icon[data-for="' + service + '"]').removeClass('shown');
						}, 1000);
					}).fail(function(data, xhr, response) {
						console.log(data);
					});
				});

				$(document).on('click', 'button.google-delete', function(e) {
					$.ajax({
						url: '/connections',
						method: 'DELETE'
					}).done(function(data, xhr, response) {
						$('button.google-delete').remove();
						$('div.service.google').append('<a href="/connections"><button class="google-create">Create Google Connection</button></a>');

						$('i.success-icon[data-for="google"]').addClass('shown');

						setTimeout(function() {
							$('i.success-icon[data-for="google"]').removeClass('shown');
						}, 1000);
					}).fail(function(data, xhr, response) {
						console.log(data);
					});
				});

				$(document).on('submit', function(e) {
					e.preventDefault();

					let $form = $(e.target);
					let service = $form.data('service');
					let serialized = {};

					$form.serializeArray().map(function(d) {
						serialized[d.name] = d.value === 'on' ? true : d.value;
					});

					$.ajax({
						url: $form.attr('action'),
						type: $form.attr('method'),
						'content-type': 'application/json',
						dataType: 'text',
						data: JSON.stringify(serialized)
					}).done(function(data, xhr, response) {
						$('i.success-icon[data-for="' + service + '"]').addClass('shown');

						setTimeout(function() {
							$('i.success-icon[data-for="' + service + '"]').removeClass('shown');
						}, 1000);
					}).fail(function(data, xhr, response) {
						console.log(data);
					});

					return false;
				});

				$(document).on('click', 'div.delete > button', function(e) {
					$.ajax({
						url: '/users',
						type: 'DELETE',
						dataType: 'text'
					}).done(function(data, xhr, response) {
						window.location.href = '/';
					}).fail(function(data, xhr, response) {
						console.log(data);
					});
				});
			});
		</script>
	</head>

	<body>
		<div class="header flexbox flex-column flex-x-center">
			<img src="https://s3.amazonaws.com/***INSERT S3 BUCKET NAME HERE***/images/opsbuddy-logo.png" />

			<div class="bold text-center">
				The Alexa Ops Buddy Skill gets you easy answers to your most critical Dev Ops questions.
			</div>

			<div class="bold text-center">
				Get information about your software stack from GitHub, Google Analytics, Postman, and/or Statuscake.
			</div>

			{% if user %}
				<div class="bold text-center">'Alexa, ask Ops Buddy how the stack is doing.'</div>
				<div class="github service flexbox flex-column flex-x-center">
					<div class="title">
						GitHub
						<i class="fa fa-check-circle success-icon" data-for="github"></i>
						<div class="errorlist" data-for="github"></div>
					</div>
					<ol>
						<li>Enter the name of a public GitHub repository.</li>
						<li>Enter the username of that repository's owner.</li>
					</ol>
					<form action="/users" method="PATCH" data-service="github">
						<label class="flexbox flex-x-center">
							<input type="checkbox" name="githubEnabled" id="github-enable" {% if user.githubEnabled %}checked {% endif %}>
							<span>Enabled</span>
						</label>
						<div>
							<div>GitHub Repo Name</div>
							<input type="text" name="githubRepo" placeholder="Repo's name" value="{{ user.githubRepo }}">
						</div>
						<div>
							<div>GitHub Repo Owner Name</div>
							<input type="text" name="githubUser" placeholder="Repo owner's name" value="{{ user.githubUser }}">
						</div>
						<button type="submit">Update GitHub</button>
					</form>
				</div>

				<div class="google service flexbox flex-column flex-x-center">
					<div class="title">
						Google Analytics
						<i class="fa fa-check-circle success-icon" data-for="google"></i>
						<div class="errorlist" data-for="google"></div>
					</div>
					<ol>
						<li>Go to the <a target="_blank" href="https://console.developers.google.com/apis/api/analytics.googleapis.com/overview">Google API Console for Analytics</a> and make sure Analytics is enabled.</li>
						<li>Go to <a target="_blank" href="https://analytics.google.com/analytics/web/#management/Settings/">Google Analytics Settings</a>, then select the View you want to use in the right-hand column and then ‘View Settings’ underneath that. Under Basic Settings you should see the View ID; it should look like ga:123456789.</li>
						<li>Click the button 'Create Google Connection' below and follow the prompts that come up to give Ops Buddy permission to use Google Analytics on your behalf. The Google account you use to create this Connection must have permission to read your Analytics data.</li>
					</ol>
					<form action="/users" method="PATCH" data-service="google">
						<label class="flexbox flex-x-center">
							<input type="checkbox" name="googleEnabled" id="google-enable" {% if user.googleEnabled %}checked {% endif %}>
							<span>Enabled</span>
						</label>
						<div>
							<div>GA View ID</div>
							<input type="text" name="googleViewId" placeholder="View ID" value="{{ user.googleViewId }}">
						</div>
						<button type="submit">Update Google</button>
					</form>

					{% if user.googleAnalyticsConnectionId %}
						<button class="google-delete">Delete Google Connection</button>
					{% else %}
						<a href="/connections">
							<button class="google-create">Create Google Connection</button>
						</a>
					{% endif %}
				</div>

				<div class="postman service flexbox flex-column flex-x-center">
					<div class="title">
						Postman
						<i class="fa fa-check-circle success-icon" data-for="postman"></i>
						<div class="errorlist" data-for="postman"></div>
					</div>
					<ol>
						<li><a target="_blank" href="https://www.getpostman.com/docs/postman/monitors/intro_monitors">Create a Postman Monitor</a> for an API you wish to test, then click on the Monitor.</li>
						<li>The Monitor’s ID should be the last thing in the URL path, e.g. https://[appname].postman.co/monitors/[Monitor ID]</li>
						<li>Go to 'Integrations' on the main menu, select 'Postman API', and then either create a new key or use an existing one.</li>
					</ol>
					<form action="/users" method="PATCH" data-service="postman">
						<label class="flexbox flex-x-center">
							<input type="checkbox" name="postmanEnabled" id="postman-enable" {% if user.postmanEnabled %}checked {% endif %}>
							<span>Enabled</span>
						</label>
						<div>
							<div>Postman Monitor ID</div>
							<input type="text" name="postmanId" placeholder="Postman Monitor ID" value="{{ user.postmanId }}">
							<div>Postman API Key</div>
							<input type="text" name="postmanApiKey" placeholder="Postman API Key" value="{{ user.postmanApiKey }}">
						</div>
						<button type="submit">Update Postman</button>
					</form>
				</div>

				<div class="statuscake service flexbox flex-column flex-x-center">
					<div class="title">
						StatusCake
						<i class="fa fa-check-circle success-icon" data-for="statuscake"></i>
						<div class="errorlist" data-for="statuscake"></div>
					</div>
					<ol>
						<li>Go to <a target="_blank" href="https://app.statuscake.com/User.php">User Details</a> and take note of your Username.</li>
						<li>Go to <a target="_blank" href="https://app.statuscake.com/APIKey.php">API Key</a> to get your API Key</li>
						<li>Go to <a target="_blank" href="https://app.statuscake.com/YourStatus.php">Tests</a> to see the tests you have set up. Create a new test if there are none, and click on the Details of the test you want to use. The Test ID can be found in the URL as the 'tid' parameter, e.g. https://app.statuscake.com/AllStatus.php?tid=[Test ID]</li>
					</ol>
					<form action="/users" method="PATCH" data-service="statuscake">
						<label class="flexbox flex-x-center">
							<input type="checkbox" name="statuscakeEnabled" id="statuscake-enable" {% if user.statuscakeEnabled %}checked {% endif %}>
							<span>Enabled</span>
						</label>
						<div>
							<div>Statuscake Test ID</div>
							<input type="text" name="statuscakeId" placeholder="Statuscake Test ID" value="{{ user.statuscakeId }}">
							<div>Statuscake Api Key</div>
							<input type="text" name="statuscakeApiKey" placeholder="Statuscake API Key" value="{{ user.statuscakeApiKey }}">
							<div>Statuscake Username</div>
							<input type="text" name="statuscakeUsername" placeholder="Statuscake Username" value="{{ user.statuscakeUsername }}">
						</div>
						<button type="submit">Update StatusCake</button>
					</form>
				</div>

				<div class="logout">
					<a href="/logout"><button><i class="fa fa-sign-out"></i> <span>Log out</span></button></a>
				</div>

				<div class="delete">
					<button><i class="fa fa-trash"></i> <span>Delete account</span></button>
				</div>

				<div class="flexbox flex-column flex-x-center">
					<div class="bold">Want to add an integration to Ops Buddy? It's easy.</div>

					<a target="_blank" href="https://github.com/bitscooplabs/opsbuddy">Contribute to our open source project on GitHub.</a>

					<div class="bold">This app was built on the BitScoop platform.</div>

					<a target="_blank" href="https://bitscoop.com">Learn better ways to create and maintain integrations.</a>
				</div>
			{% else %}
				<div class="logins flexbox flex-column flex-x-center">
					<a href="/login?service=google"><button><i class="fa fa-google"></i> <span>Log In with Google</span></button></a>
					<a href="/signup?service=google"><button><i class="fa fa-google"></i> <span>Sign Up with Google</span></button></a>
				</div>

				<div class="bold">
					Install the Alexa skill 'BitScoop Ops Buddy' and link it with the same Google account you used to sign up for your Ops Buddy account.
				</div>
			{% endif %}
		</div>
	</body>
	<footer>
		<div class="copyright">&copy; 2017 BitScoop Labs, Inc.</div>
	</footer>
</html>
